* {
  box-sizing: border-box;
  margin: 0;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: wavy;
  background-color: darkgoldenrod;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-image: url("Foto_H1.png");
 

}

nav ul li a {
  text-decoration: none;
}

td {
  width: 100%;
  border: 1px solid black;
}

td p img {
  width: 200px;
  height: 150px;
  box-align: center;
}

th {
  border: 1px solid black;
  width: 100%;
}

table {
  width: 100%;
  border: 10px;

}

td {
  width: 25%;
}

nav {

  background: #000000;
  padding: 0px;
  width: 100%;

}

/* Style the list inside the menu */
nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  display: flex;
  width: 100%;
}

nav ul li {
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #ffffff;
  width: 25%;
  padding: 1px;
}

li:hover:not(.active) {
  background-color: goldenrod;
  color: white;
}

li:hover {
  background-color: #04AA6D;
  color: white;
}

li a {
  display: block;
  text-align: center;
}

article {
  padding: 20px;
  background-color: #f8e577;
  text-align: center;
}

div img{
width: auto;


}

form {
  float: right;
  padding: 20px;
  width: 100%;
  background-color: #f8e577;
}

section::after {
  content: "";
  display: table;
  clear: both;
}


footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  color: rgb(255, 174, 0);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

  nav,
  article {
    width: 100%;
    height: auto;
  }
 header{
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 208, 0);
  text-decoration-style: wavy;
  background-color: rgb(110, 16, 4);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: black;
  font-family: fantasy;



 }

}

